{% extends "parent.html" %}
{% block body %}
<h1 style="color: black; text-align: center">MARC Labs</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo ipsam veniam quis consectetur iure sequi totam atque
  culpa, ut magnam explicabo tempore, placeat odio in deleniti officiis eaque maxime aut. Dignissimos cupiditate cum
  voluptates quo! Eveniet, excepturi dolorum accusantium ratione numquam sapiente ipsum vero quasi?</p>
<br>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore nulla incidunt voluptatem ea, asperiores ab aut
  dolorum tenetur ducimus numquam consequatur error neque minus aliquid, suscipit exercitationem quos laboriosam
  perspiciatis.</p>
{% endblock body%}